h1{
    color:blueviolet;
    background-color: beige;
}
p{
    color:mediumpurple;
    font-size: large;
    font-family: arial;
    font-weight: bold;
    margin:10px;
    padding:10px;
    border:2px solid black;

}