* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  height: 100vh;
  background: linear-gradient(135deg, rgb(100, 100, 163), rgb(158, 100, 158));
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  background: #fff;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px black;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs label {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(66, 64, 64);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

input[type="radio"] {
  display: none;
}

#login:checked ~ .tabs label[for="login"],
#register:checked ~ .tabs label[for="register"] {
  color: rgb(61, 61, 145);
  border-bottom: 2px solid rgb(64, 64, 146);
}


.forms {
  position: relative;
}

.form {
  display: none;
}

#login:checked ~ .forms .login-form {
  display: block;
}

#register:checked ~ .forms .register-form {
  display: block;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.form input:focus {
  border-color: rgb(83, 83, 175);
  box-shadow: 0 0 5px rgb(86, 86, 180);
}

.form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background:rgb(64, 64, 170) ;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: rgb(60, 60, 176);
}

.form h2 {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(63, 61, 61);
}